.body {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.form {
  background: #333;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
/* From Uiverse.io by vinodjangid07 */
.button {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 0px 15px;
  background-color: rgb(66, 66, 66);
  border-radius: 10px;
  color: white;
  border: none;
  position: relative;
  cursor: pointer;
  transition-duration: 0.2s;
}
.bell {
  width: 13px;
}
.bell path {
  fill: rgb(0, 206, 62);
}
.arrow {
  position: absolute;
  right: 0;
  width: 30px;
  height: 100%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button:hover {
  background-color: rgb(77, 77, 77);
  transition-duration: 0.2s;
}
.button:hover .arrow {
  animation: slide-right 0.6s ease-out both;
}
/* arrow animation */
@keyframes slide-right {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.button:active {
  transform: translate(1px, 1px);
  transition-duration: 0.2s;
}
.input {
  padding: 10px;
  border: 0;
  border-radius: 5px;
  background: #333;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: aliceblue;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  outline-style: none;
}
.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
}
.card {
  background: #333;
  border-radius: 8px;
  padding: 20px;
  width: 200px;
  color: rgb(120, 192, 255);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.card p {
  margin: 5px 0;
}
